* {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
  }

  body{
    font-size:30;
  }
h1{
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
    vertical-align: auto;
    align-self: start;
    line-height: normal;
    text-align: center;
    animation: normal;
    size: 15px;
}